body {
  background-color: gray;
}
main {
  width: fit-content;
  margin: auto;
  border: 5px solid white;
  border-radius: 5px;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  border: 5px blueviolet;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  padding: 8px;
}

p {
  width: 200px;
  height: 200px;
  margin: 10px;
  background-color: #ccc;
  float: left;
}

.source {
  position: absolute;
  top: 400px;
}

.highlight {
  background-color: red;
}
