@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lora", serif;
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(251, 242, 133);
  background: radial-gradient(
    circle,
    rgba(251, 242, 133, 0.6334908963585435) 0%,
    rgba(224, 196, 91, 0.8407738095238095) 35%,
    rgba(230, 224, 113, 1) 100%
  );
}

.weather {
  display: flex;
  align-items: center;
  margin: 15px 0;
  font-size: 1.5rem;
}

#location {
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
}
.desc {
  font-size: 1.25rem;
  text-transform: capitalize;
}

.circle {
  background-color: black;
  border-radius: 50px;
  height: 15px;
  width: 15px;
  margin: 0 15px;
}

.daily-forecast-container {
  height: 100vh;
  width: 40%;
  /* overflow: scroll; */
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 60%;
}

.current-container {
  width: 40%;
  position: absolute;
  left: 20%;
}

.search-city {
  position: absolute;
  width: fit-content;
  top: 5%;
  left: 20%;
}

.daily-container {
  position: relative;
  width: fit-content;
  margin: 5%;
}
img {
  /* animation: icon-move 5s linear infinite; */
}

.daily-location {
  font-size: 2em;
}

.warning {
  display: block;
  color: red;
}

@media screen and (max-width: 650px) {
  .daily-forecast-container {
    height: 100vh;
    width: 45%;
    /* overflow: scroll; */
    overflow-y: scroll;
    position: absolute;
    top: 0;
    left: 55%;
  }

  .current-container {
    width: 40%;
    position: absolute;
    left: 3%;
  }

  .search-city {
    position: absolute;
    width: fit-content;
    top: 5%;
    left: 3%;
  }

  .daily-container {
    width: fit-content;
  }
}
@media screen and (max-width: 495px) {
  .container {
    /* height: 100%; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(251, 242, 133);
    background: radial-gradient(
      circle,
      rgba(251, 242, 133, 0.6334908963585435) 0%,
      rgba(224, 196, 91, 0.8407738095238095) 35%,
      rgba(230, 224, 113, 1) 100%
    );
  }
  .daily-forecast-container {
    height: 40vh;
    width: 95%;
    /* overflow: scroll; */
    overflow-y: scroll;
    position: absolute;
    top: 60%;
    left: 3%;
  }

  .current-container {
    width: fit-content;
    position: absolute;
    top: 10%;
    left: 20%;
  }

  .search-city {
    position: absolute;
    width: fit-content;
    top: 4%;
    left: 20%;
  }

  .daily-container {
    width: fit-content;
    position: relative;
    left: 17%;
  }
}

@keyframes icon-move {
  0% {
    position: relative;
    left: 0%;
  }
  25% {
    position: relative;
    left: 25%;
  }
  50% {
    position: relative;
    left: 50%;
  }
  75% {
    position: relative;
    left: 75%;
  }
  100% {
    position: relative;
    left: 0%;
  }
}
